body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #009f9f;
  color: white;
  padding: 20px;
}

footer {
  background-color: #006f74;
  color: white;
  padding: 15px;
  margin-top: 20px;
}